<div class="container-fluid container-fluid-custom">
    <h1>About</h1>
    <p id="p1">Hello! I'm Saran, a dedicated web developer and coding enthusiast with a strong foundation in creating
        responsive, visually appealing, and interactive websites and applications. I graduated with a B.Tech in Computer
        Science and Engineering from Jaypee University of Engineering and Technology, and have honed my skills through
        hands-on experience with languages like HTML, CSS, JavaScript, ReactJS, and Three.js.<br><br>

        Over the years, I've worked on diverse projects ranging from e-commerce platforms and portfolio websites to
        interactive games and a unique shooter game with multiplayer capabilities. My journey into coding has also led
        me to explore backend development, where I’ve developed skills in Node.js and MySQL, allowing me to handle both
        the user-facing and technical sides of web development with ease.<br><br>

        My approach combines technical expertise with creativity—I love building user-friendly, animated websites that
        provide seamless, engaging experiences. Some of my recent projects include a Zomato clone, an animated
        calculator, and a library website, each tailored for high functionality and aesthetic appeal. I’ve also ventured
        into gaming design by developing a 3D shooter game using Three.js, which demonstrates my knack for merging
        creativity with coding.
        <br><br>

        In addition to coding, I've had the privilege of collaborating in teams and leading projects. As a former member
        of my university’s JYC committee, I helped organize and manage various initiatives, strengthening my leadership
        skills. During my internships, I led teams and managed project workflows, emphasizing efficiency and
        collaboration. My passion for technology and innovation keeps me driven to learn and expand my skills every day.
        <br><br>

        Thank you for visiting my page! If you’d like to connect or collaborate, feel free to reach out. Let’s build
        something incredible together! </p>
</div>